# Specify filepatterns you want git to ignore.

DerivedData/*
build/*
new_tzpl_engine_one_file.xcodeproj/project.xcworkspace/*
new_tzpl_engine_one_file.xcodeproj/xcshareddata/*
new_tzpl_engine_one_file.xcodeproj/xcuserdata/*
RtAudio.*

