<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Language X</string>
	<key>uuid</key>
	<string>A3E2C6F1-8B4D-4E7A-9F5C-1D3B6A8E2F40</string>
</dict>
</plist>
